.trade-container {
  padding: 20px;
  display: grid;
  grid-template-columns:  300px auto 450px;
  grid-template-rows: 60px auto auto;
  max-width: 2000px;
  margin: auto;
  gap:4px;

  & .trade-header {
    background: #181a20;
    grid-column: 1/3;
    padding: 0 40px;
    line-height: 20px;

    & .header-block {
      display: flex;
      flex-direction: column;
      gap: 4px;
      width: auto;
      font-size: 16px;
    }

  }

  & .chart-container {
    background: #181a20;
    grid-column: 2/3;
    grid-row: 2/3;
    min-height: 400px;
  }

  .history {
    grid-column: 3/4;
    grid-row: 1/4;
    background: #181a20;
  }

  .orders {
    grid-row: 2/4;
    background: #181a20;
  }

  .finance-control {
    min-height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 20px;
    background: #181a20;

    & .finance-control-header {
      grid-column: 1/3;
      position: relative;
    }

  }

  & .buy, & .sale {
    padding: 40px clamp(0px, 1.5vw, 40px);

    & h5 {
      margin: 0 0 10px 8px;
    }
  }
}

.approve-btn {
  width: 200px;
  height: 50px;
  margin-left: 8px;
}

.user-error {
  position: absolute;
  bottom: -44px;
  padding: 4px 40px;
  border-radius: 4px;
  animation: show-error 1s;
  color:#f8bbd0;
  font-size: 20px;
  font-weight: 100;
}

@keyframes show-error {
  0% {
    background: #c2185b;
  }
  100% {
    background: rgba(194, 24, 91, 0);
  }
}
