h2 {
  font-size: 2em;

  &:after {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: white;
    position: relative;
  }
}

.home-top {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 20px;
  padding: 20px 5%;

  & .header-logo {
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      min-width: 150px;
      min-height: 150px;
    }
  }

  & .header-1 {
    width: 100%;
    display: flex;
    justify-content: center;

    & h1 {
      font-size: clamp(20px, 5vw, 120px);
      font-weight: bold;
    }

    & h2 {
      font-size: clamp(14px, 3vw, 24px);

      &:after {
        display: none;
      }
    }
  }

  & .fp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    & .fast-panel {
      display: grid;
      grid-template-rows:50px auto;
      padding: 20px;
      background: rgb(6, 12, 24);
      border-radius: 20px;
      max-width: 500px;
      min-width: 350px;

      & .fpe {
        display: flex;
        gap: 40px;
        font-size: clamp(16px, 1.4vw, 18px);
        background: linear-gradient(to right, #180542, #14041e);
        padding: 8px 10px;
        border-radius: 8px;
        cursor: pointer;
        position: relative;
        bottom: 0;
        transition-duration: 0.2s;

        & div {
          gap: clamp(5px, 1vw, 20px);
        }

        & .finance {
          font-size: clamp(12px, 1.3vw, 16px);
          font-weight: 100;
        }

        &:hover {
          bottom: 4px;
        }

        & img {
          width: 40px;
          height: 40px;
          border-radius: 8px;
        }

        & .upper {
          color: #27ff27;
        }

        & .lower {
          color: #ff5050;
        }
      }
    }
  }
}

@media(max-width: 700px) {
  .home-top {
    display: flex;
    flex-direction: column;

    & .header-logo {
      grid-template-columns: 1fr 1fr;
      justify-items: center;

      & img {
        width: 200px;
        height: 200px;
      }

      & h1 {
        font-size: 48px;
        font-weight: bold;
      }

      & h2 {
        font-size: 24px;
      }
    }

    & .fp-container {
      & .fast-panel {
        width: 100%;

        & .fpe {
          font-size: 16px;
        }
      }
    }
  }
}

.abilities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 70vw;

  & .ab-list {
    display: flex;
    gap: 40px;
    margin-top: 40px;

    & h3 {
      font-size: clamp(16px, 5vw, 18px);
    }

    & p {
      font-weight: 100;
    }

    & .ab-container, .ab-item {
      display: grid;
      grid-template-rows:20px auto;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 40px;
      grid-row-gap: 10px;

      & .ab-item, .illustration, .stock-simulation {
        grid-column: 2/3;
        grid-row: 1/3;
        position: relative;
      }

      & .illustration {
        display: flex;
      }

      & .clock {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 3px solid white;
        background: black;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(2, 1.5);
        box-shadow: 0 5px 0px 2px rgba(255, 255, 255, 0.75);
        left: 20px;
        z-index: 2;

        &:after {
          content: '';
          position: relative;
          display: block;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background: white;
        }

        & .minutes-arrow, .hours-arrow {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;


          &:before {
            content: '';
            display: block;
            width: 20px;
            height: 2px;
            background: white;
            border-radius: 2px;
            position: relative;
            right: 10px;
            box-shadow: 0 0 5px white;
          }
        }

        & .hours-arrow {
          &:before {
            height: 2px;
            width: 12px;
            right: 6px;
          }
        }
      }
    }

    ul {
      position: absolute;
      bottom: 0;
    }

    .selection-images {
      display: flex;
      justify-content: center;
      gap: 5px;
      width: 150px;
      position: relative;

      & svg {
        width: 50px;
        height: 50px;
        position: absolute;
      }

      & :nth-child(1) {
        left: 0;
        bottom: 0;
      }

      & :nth-child(2) {
        left: 50px;
        bottom: 50px;
      }

      & :nth-child(3) {
        left: 50px;
        bottom: 0;
      }

      & :nth-child(4) {
        left: 0;
        bottom: 50px;
      }
    }

    & .stock-simulation {
      display: flex;
      flex-direction: column;
      max-width: 300px;
      gap: 5px;


      & .stock-row {
        font-size: 14px;
        display: grid;
        grid-template-columns: 70px 80px 50px 50px 10px;
        gap: 10px;
        width: 370px;
        background: linear-gradient(to left, #2b042f, #1a042f);
        border-radius: 2px;
        justify-content: space-between;
        padding: 10px 20px;

        & svg {
          rotate: 90deg;
          color: #ff3131;
          position: relative;
          animation: falling-animation 0.3s linear;
        }

        & .isGrow svg {
          rotate: -90deg;
          color: #27ff27;
          animation: grow-animation 0.3s linear;
        }

      }
    }

  }
}

@keyframes grow-animation {
  0% {
    top: 5px;
  }
  100% {
    top: 0;
  }
}

@keyframes falling-animation {
  0% {
    bottom: 5px;
  }
  100% {
    bottom: 0;
  }
}

.test-data{
  width: 90vw;
  & .test-chart{
    width: 100%;
  }
}