.filter-select {
  display: flex;
  gap:10px;

  & .filter{
    width: auto;
    padding: 4px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.7);
    color: rgba(255, 255, 255, 0.7);
  }
  & .filter-active{
    color:white;
    background:linear-gradient(to right, #332033, #291a2c);
    border: 1px solid white;
  }
}

.catalogue-container{
  gap:50px;
  & .swiper-slide{
    width: 500px;
  }
  & a{
    transition-duration: 0.2s;
    position: relative;
    &:hover{
      text-decoration: none;
      bottom: 4px;
    }
  }
}